<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Chat App</title>

    <script type="text/javascript" src="../include/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../js/routes.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
</head>
<body>

    <button onclick="goToLogin()">Login</button>

    <br />

    <h1>Register Page</h1>

    <br />

    <div>
        <label>Username</label>
        <input type="text" id="registerUsername" />
    </div>
    <br />
    <div>
        <label>Password</label>
        <input type="password" id="registerPassword" />
    </div>
    <br />
    <div>
        <label>Email</label>
        <input type="text" id="registerEmail" />
    </div>
    <br />
    <div>
        <label>Phone Number</label>
        <input type="text" id="registerPhoneNumber" />
    </div>

    <br />
    <br />

    <button onclick="doRegister()">Register</button>

</body>
</html>